<div id="donation-form" class="text-center">
  <h1>How can you help?</h1>
  <p>Fill the Donation form with correct details. You can donate food, clothes and you can also provide accommodation facilities for the migrant workers.
    <br> We will contact you to fix the time slot for the pickup and furhter enquiry. 
    <br><b>Donation will be picked up from your doorsteps to ensure <span style="color:red">social distancing and follow lockdown.</span></b>
  </p>
  <div class="container" style="background-color: #00000000;">
    <div class='card' style="background-color: #00000000;">
      <div class='card-header'>
        <ul class="nav nav-pills card-header-pills">
          <li class="nav-item">
            <button class='btn btn-warning bn' (click)="toggle()">{{title}}</button>
          </li>
          <li class="nav-item">
            <button class='btn btn-warning bn' [routerLink]="['/doners']">View Doners</button>
          </li>
        </ul>
      </div>
      <div *ngIf="view" class="card-body">
        <form  #form="ngForm">
          <div class="container">
            <div class="form-group row">
              <label class="col-md-4" for="fname">Full Name : </label>
              <input class="form-control col-md-3" type="text" id="fname" name="fname" [(ngModel)]='name' required>
            </div>
            <div class="form-group row">
              <label class="col-md-4" for="address">Pick Up Address :<br><sub style="color:red;">Donation will be picked up from this location</sub> </label>
              <textarea class="form-control col-md-3" id="address" rows="2" name="Address" [(ngModel)]='address'
              required></textarea>
            </div>
            <div class="form-group row">
              <label class="col-md-4" for="email">Email : </label>
              <input class="form-control col-md-3" type="email" id="email" name="email" [(ngModel)]='emailid' required
                pattern="[^ @]*@[^ @]*" #email="ngModel">
              <div class="alert-danger" *ngIf="email.errors && (email.dirty || email.touched)" style="padding:2px;">
                <span *ngIf="email.errors.required">Email is required</span>
                <span *ngIf="email.errors.pattern">Email formate is not valid</span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4" for="dtype">Donation Type :</label>
              <select class="form-control col-md-3" id="dtype" name="Dtype" [(ngModel)]='type' required>
                <option value="food">FOOD</option>
                <option value="clothing">CLOTHING</option>
                <option value="shelter">SHELTER</option>
                <option value="other">other</option>
              </select>
            </div>
            <div class="form-group row">
              <label class="col-md-4" for="desc">Description of the donation :<br><sub style="color:red;">Quantity, Category related info<br>eg. 1 kg of rice, 10 plates meal,<br>2 shirt, 20 packets of Paracetamol etc</sub> </label>
              <textarea class="form-control col-md-3" id="desc" rows="2" name="Description" [(ngModel)]='desc'
              required></textarea>
            </div>
            <div class="form-group row">
              <label class="col-md-4" for="conatct">Conatact number :<br><sub style="color:red;">We will contact you on this number<br>to fix the time slot for pickup</sub></label>
              <input class="form-control col-md-3" type="number" id="conatct" name="Contact" [(ngModel)]='contact'
                required>
            </div>

            <input [disabled]="!form.valid" class='btn btn-warning' type="button" value="Donate" (click)='add();form.reset()'>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>