<h1 class="text-center">ANNA DAATA HOME</h1>
<div class="container">
<p>With migrents getting help less this app helps you help they needy</p>
<p>“The lockdown in India has impacted the livelihoods of a large proportion of the country's nearly 40 million
     internal migrants. Around 50,000–60,000 moved from urban centers to rural areas of origin in the span of a 
     few days.”</p>
     <p>They need us. They need you.</p>
<a class="btn btn-primary" [routerLink]="['/donation']">I want to help</a>
</div>
