<div id="wrapper">
  <div id="inside-wrapper">
    <h1 id="heading-hindi" class="container text-center shadow"><b>।। अन्ना दाता ।।</b></h1>
    <div id="wrapper-body" class="text-center">
      <p class="container text-justify" style="color: whitesmoke;padding:2rem;">The lockdown in India has impacted the
        livelihoods of a large proportion of the country's nearly 40 million
        internal migrants. Around 50,000–60,000 moved from urban centers to rural areas of origin in the span of a
        few days. Government is doing it's best to tackle this situation but a helping hand is always better.</p>
      <a class="btn btn-warning" style="margin-top:2rem;margin-bottom:7rem;" [routerLink]="['/donation']">I want to help</a>
    </div>
  </div>
</div>